.rightSidebar{
width:340px;
background:#F3EFE6;
padding:26px;
display:flex;
flex-direction:column;
gap:22px;
overflow-y:auto;
height:100%;
border-left:1px solid #e0dbd0;
font-family:Inter,sans-serif;
color: #2c2c2c;
}

.sidebarTitle{
margin:0;
font-size:20px;
font-weight:600;
color:#2c2c2c;
}

/* cards */

.card{
background:white;
padding:14px;
border-radius:10px;
display:flex;
flex-direction:column;
gap:10px;
box-shadow:0 2px 8px rgba(0,0,0,0.06);
}

/* titles */

.sectionTitle{
font-size:13px;
font-weight:600;
color:#6b6b6b;
}

/* dropdown */

.dropdown{
width:100%;
padding:9px;
border-radius:8px;
border:1px solid #ddd;
background:white;
font-size:13px;
color: #2c2c2c;
}

/* sliders */

.slider{
width:100%;
accent-color:#7B8B6F;
}

/* colors */

.colorRow{
display:flex;
gap:10px;
flex-wrap:wrap;
}

.colorSwatch{
width:34px;
height:34px;
border-radius:50%;
cursor:pointer;
border:2px solid transparent;
transition:0.2s;
}

.colorSwatch:hover{
transform:scale(1.1);
border-color:#555;
}

/* rotation */

.rotationRow{
display:flex;
gap:8px;
flex-wrap:wrap;
}

.greenButton{
background:#7B8B6F;
border:none;
padding:7px 12px;
border-radius:6px;
color:white;
cursor:pointer;
font-size:12px;
}

.greenButton:hover{
background:#64755a;
}

/* delete */

.deleteBtn{
background:#e05353;
border:none;
color:white;
padding:6px 10px;
border-radius:6px;
cursor:pointer;
font-size:12px;
}

.deleteBtn:hover{
background:#c94545;
}

.furnitureHeader{
display:flex;
justify-content:space-between;
align-items:center;
}

/* checkbox */

.checkboxRow{
display:flex;
gap:8px;
align-items:center;
font-size:13px;
}

/* lights */

.lightButton{
padding:12px;
border-radius:10px;
border:none;
cursor:pointer;
font-weight:600;
font-size:14px;
}

.lightButton.on{
background:#6c7a5c;
color:white;
}

.lightButton.off{
background:#b33a3a;
color:white;
}